{% extends 'admin/layouts/apps.html' %}
{% load static %}


{% block content %}

	<!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        
        

        {% include 'admin/layouts/breadcrumbs.html' %}




        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-xxl">
                <!--begin::Form-->
                <form id="create-or-update-admin-form" class="form d-flex flex-column flex-lg-row"  method="POST" enctype="multipart/form-data"  action="{% url 'employee:employee_management.create' %}">
                    {% csrf_token %}
    
                    <input type="hidden" name="employee_management_id" id="casestudy_id" value="{{employee_management_obj.id}}" />
                    <!--begin::Aside column-->
                    
                    <!--end::Aside column-->
                    <!--begin::Main column-->
                    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                        <!--begin:::Tabs-->
                        <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-n2">
                            <!--begin:::Tab item-->
                            <li class="nav-item">
                                <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#create-or-update-admin-general">Employee Management</a>
                            </li>
                            <!--end:::Tab item-->
                      
                        </ul>
                        <!--end:::Tabs-->
                        <!--begin::Tab content-->
                        <div class="tab-content">
                            <!--begin::Tab pane-->
                            <div class="tab-pane fade show active" id="create-or-update-admin-general" role="tab-panel">
                                <div class="d-flex flex-column gap-7 gap-lg-10">
                                    
                                    <div class="card card-flush py-4">
                                        
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h2>Employee Management</h2>
                                            </div>
                                        </div>
                                        
                                        <div class="card-body pt-0 ">
    
                                            <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Name</label>
                                                        <input type="text" name="name" value="{{employee_management_obj.name}}" class="form-control mb-2" maxlength='40' placeholder="Enter your Name" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, ''); if (this.value[0] === ' ') this.value = this.value.slice(1);"/>
                                                    </div>
                                                </div>
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Email</label>
                                                        <input type="text" name="email" value="{{employee_management_obj.email}}" class="form-control mb-2" maxlength='40' placeholder="Enter your Email" />
                                                    </div>
                                                </div>
                                                <div class="fv-row w-100 flex-md-root">
                                                    <div class="mb-5 fv-row">
                                                        <label class="required form-label">Phone Number</label>
                                                        <input type="text" name="phonenumber" value="{{employee_management_obj.phonenumber}}" class="form-control mb-2" maxlength='10' placeholder="Enter your Phone Number" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
    
                            <!--end::Tab pane-->
                        </div>
                        <!--end::Tab content-->
                        <div class="d-flex justify-content-end">
                            <!--begin::Button-->
                            <a href="{% url 'employee:employee_management.index' %}" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button type="submit" id="create-or-update-admin-submit" class="btn btn-primary">
                                <span class="indicator-label" >Save </span>
                                </button>
                                <button type="button" id="banner-loader-text" class="indicator-progress btn btn-primary">
                                <span class="">Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                            <!--end::Button-->
                        </div>
                    </div>
                    <!--end::Main column-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->
	
{% endblock content %}



{% block script %}

    <script src="{% static 'assets/js/custom/pages/home-page/employee-management/create-or-update-employee-management.js' %}?time={% now 'h:i:s' %}"></script>



{% endblock script %}
