{% extends 'admin/layouts/apps.html' %}
{% load static %}


{% block content %}


    <link href="{% static 'assets/plugins/custom/jstree/jstree.bundle.css' %}" rel="stylesheet" type="text/css" />

	<!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        

        {% include 'admin/layouts/breadcrumbs.html' %}



        <div id="kt_app_content" class="app-content flex-column-fluid">
            <div id="kt_app_content_container" class="app-container container-xxl">

                    <form id="create-or-update-group-form" class="form d-flex flex-column flex-lg-row"  method="POST" enctype="multipart/form-data"  action="">
                        
                        {% csrf_token %}
                        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                            <!--begin:::Tabs-->
                            <!--end:::Tabs-->
                            <!--begin::Tab content-->
                            <div class="tab-content">
                                <!--begin::Tab pane-->
                                <div class="tab-pane fade show active" id="create-or-update-product-general" role="tab-panel">
                                    <div class="d-flex flex-column gap-7 gap-lg-10">
        
                                        
                                        <div class="card card-flush py-4">
                                            
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <h2>Group details</h2>
                                                </div>
                                            </div>
                                            <input type="hidden" name="group_id" value="{{group.id}}" />
                                            <div class="card-body pt-0 ">
        
                                                <div class="d-flex mb-10 flex-wrap gap-5 mt-10">
                                                    <div class="fv-row w-100 flex-md-root">
                                                        <div class="mb-5 fv-row">
                                                            <label class="required form-label">Group Name</label>
                                                            <input type="text" name="group_name" value="{{group.name}}" class="form-control mb-2"  placeholder="Enter name" />
                                                            <div class="error-message" style="color: red;"></div>
                                                        </div>
                                                    </div>
                                                    <div class="fv-row w-100 flex-md-root">
                                                        <div class="mb-5 fv-row">
                                                            <label class="required form-label">Roles</label>
                                                            <select class="form-select form-select-solid"  name="role" data-control-select-option="roles_lists"  data-control="select2" data-close-on-select="false" data-placeholder="Select an option" data-allow-clear="true" multiple="multiple">
                                                                <option ></option>
                                                                {% for role in roles %}
                                                                    <option {% if role.id in active_roles %} selected {% endif %} value="{{ role.id }}">{{role.name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Tab pane-->
                            </div>
                            <!--end::Tab content-->
                            <div class="d-flex justify-content-end">
                                <!--begin::Button-->
                                <a href="" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
                                <!--end::Button-->
                                <!--begin::Button-->
                                {% comment %} <button type="button" id="create-or-update-roles-group-submit" class="btn btn-primary">
                                    <span class="indicator-label">Save </span>
                                    <span class="indicator-progress">Please wait... 
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                </button> {% endcomment %}
                                <button type="submit" id="create-or-update-roles-group-submit" class="btn btn-primary">
                                    <span class="indicator-label" >Save </span>
                                    </button>
                                    <button type="button" id="banner-loader-text" class="indicator-progress btn btn-primary">
                                    <span class="">Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                </button>
                                <!--end::Button-->
                            </div>
                        </div>
                    </form>
                
                </div>
            </div>
        </div>
    </div>
	
{% endblock content %}

 

{% block script %}

    <script src="{% static 'assets/plugins/custom/jstree/jstree.bundle.js' %}"></script>


    <script>

        var api_config = {
            "validation"               : "{% url 'users:admin.group_name_exist_check' %}",
            'generate_permission_tree' : "{% url 'users:generate.permission.tree' %}",
            'role_id' : "{{role.id}}"
        }

    </script>

    <script src="{% static 'assets/js/custom/pages/users/permission/create-or-update-group.js' %}?time={% now 'h:i:s' %}"></script>


{% endblock script %}
